@{
    ViewData["Title"] = "Home Page";
}
<h1>Trail Creation App</h1>
<table id="myTable" class='table table-hover display table'>
    <thead>
        <tr>
            <th>Name</th>
            <th><a asp-controller="Trail" asp-action="SortedIndex">Length</a></th>
            <th><a asp-controller="Trail" asp-action="SortedElevationIndex">Elevation Change</a></th>
        </tr>
    </thead>
    <tbody>

    @foreach(var trail in @ViewBag.allTrails)
    {
        <tr>
            <td><a asp-controller="Trail" asp-action="ViewTrail" asp-route-id="@trail.id">@trail.Name</a></td>
            <td>@trail.Length Miles</td>
            <td>@trail.Elevation feet</td>
        </tr>
    }
    </tbody>
</table>

<h3>Add a New Trail!</h3>
<a asp-controller="Trail" asp-action="NewTrail">Add a new trail!</a>