@model lost_in_the_woods.Models.Trail

<h3>This is the hiking page for @ViewBag.OneTrail.Name</h3>

<h4>Description</h4>
<p>@ViewBag.OneTrail.Description</p>

<h4>Trail Length</h4>
<p>@ViewBag.OneTrail.Length Miles</p>

<h4>Elevation Change</h4>
<p>@ViewBag.OneTrail.Elevation feet</p>


<p>Longitude - @ViewBag.OneTrail.Longitude </p>
<p>Latitude - @ViewBag.OneTrail.Latitude </p>



